{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">Calories Counter</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            <li><a href="/api">API Data</a></li>
            <li><a href="/foods">Food Log</a></li>
            <li><a href="/foods/create">Add Food</a></li>
            <li><a href="/foods/">Signup</a></li>
            <li><a href="/foods/">Login</a></li>
            <li><a href="/foods/">Logout</a></li>

          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved | © 2022 Calories Counter  
      </div>
    </footer>
  </body>
</html>